<!DOCTYPE html>
<html>
  <head>
    <title>YOUR PAGE TITLE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= content_for :head %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <%= render "shared/flash" %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
