<!DOCTYPE html>
<html>
  <head>
    <title>YOUR PAGE TITLE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>

    <%= turbo_refreshes_with(method: :morph, scroll: :preserve) %>
    <%= yield :head %>
  </head>

  <body class="h-full">
    <%= render "shared/flash" %>

    <main class="container h-full mx-auto mt-10 pb-10">
      <%= yield %>
    </main>
  </body>
</html>
